* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
}

.container {
    position: relative;
    width: 900px;
    height: 630px;
    border-radius: 6px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    top: 55px;
}

.container header {
    position: relative;
    font-size: 25px;
    font-weight: 700;
    color: #333;
}

.container header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}

.container .good .details {
    margin-top: 30px;
}

.container .good .details.ID {
    margin-top: 10px;
}

.container .good .title {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    margin: 6px 0;
    color: grey;
}

.container .good .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.good .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 5px 0;
}

.input-field label {
    font-size: 15px;
    font-weight: 700;
    color: #2e2e2e;
}

.input-field input {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: black;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

:hover.input-field input {
    border: 2px solid black;
}

.input-field input:is(:focus, :valid) {
    box-shadow: 0 3px rgba(0, 0, 0, 0.13);
}

.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333333;
}

.container  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    max-width: 200px;
    width: 200px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}

.good button:hover {
    background-color: blue;

}

.good button i {
    margin: 0 6px;
}

.red{
    outline: 1px solid red;
}




@media screen and (max-width:450px) {
    body{ 
        height: 1330px;
    }
    .container .good .fields {
        display: grid;
        grid-template-columns: 1fr;
    }

    .container {
        width: 550px;
        height: 1300px;
        margin-left: -10px;
        margin-top: -110px;
    }

    .good .fields .input-field {
        width: calc(100% / 1 - 15px);
    }
    .input-field input{
        width: 270px;
    }

} 

@media screen and (max-width:768px) and (min-width:450px) {
    .container {
        width: 330px;
    }
    body{
        height: 1000px;
    }
   
}
